// colors
$darkGreen: #805301;
$green: #000000;
$lightGreen: #a7d7c5;
$veryLightGreen: #ffffff00;
$darkGrey: #878787;
$white: #000000;
$lightGrey: #252525cb;

// font family
$fontFamily: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.5 * 31.42px);
