@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.page404{
  align-items: center;
  justify-content: center;
  display:flex;
 
}
.h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.output{
  color:gray;
}
.divtag{
  color:#000000;
  animation: shake 4s linear infinite;
  transition: .6s ease-in-out;
  font-size: 70px;
}

@keyframes shake {
 from{
  transform: translateY(0);
 }
to{
  transform: translateY(10%);
}
}