*{
    margin: 0;
    padding: 0;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: transparent;
    border-radius: 50px;
    zoom: 40%;
img{
    width: 50px;
    position: relative;
    right: 100px;
    border-radius: 50%;
    transform: scale(1.7);
    
}
    svg{
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s infinite;
    image{
    position: absolute;
    top: 0;
    left: 50%;
    animation: upscale .6s linear infinite;
    &:hover{
        transform: scale(1.2);
    }
}
    circle{
        width: 100%;
        height: 100%;
        stroke-width: 10;
        fill: none;
        stroke: #504b01;
        stroke-linecap: round;
        stroke-dasharray: 280;
        stroke-dashoffset: 580;
        transform: translate(5px,5px);
        animation: animate 4s linear infinite;
        
    }
    }
}
@keyframes upscale{
    0%{
     transform: scale(1.2);
    }
    100%{
        transform: scale(1.2);
       }
 }
@keyframes animate {
    0%{
        stroke-dashoffset: 600;
        animation-delay: 1s;
        stroke: #006909be;
    }
    50%{
        stroke-dashoffset: 0;
        stroke: #0044ffc0;
    }
    50.1%{
        stroke-dashoffset: 999;
        stroke: #000000c9;
    }
}
@keyframes rotate {
   to{
    transform: rotate(360deg);
   }
}
