body,
html {
  margin: 0;
  padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #1E2227 !important;
  font-weight: 400;
  background: white !important;
  /* -webkit-user-select: none; */
  /* -ms-user-select: none; */
  user-select: none;
}
.other{
  left: 32% !important;
  top:10px;
  color: rgb(134, 12, 12) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.light {
  color: #191919 !important;
  font-weight: 400 !important;
  background: whitesmoke !important;
}
.dark {
  color: whitesmoke !important;
  font-weight: 400 !important;
  background: #23272E !important;

}

h2,
h3,
h4 {
  /* font-family: "Raleway", sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  text-transform: uppercase !important;
  margin: 0 0 20px !important;
  font-weight: 800 !important;
  font-size: 36px !important;
  color: #333 !important;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #608dfd;
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
  -webkit-padding: 0;
  -moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
#menu {
  padding: 0 0 2px;
  transition: all 0.8s;
}

#menu.navbar-default {
  /* background-color: #608BFD !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important; */
  background: linear-gradient(to right, #63ff8554 0%, #69fb5c94 100%);
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(25px) !important;
  border-color: rgba(231, 231, 231, 0.438) !important;
  z-index: 1;
  margin: 10px;
  border-radius: 8px;
}

#menu a.navbar-brand {
  /* font-family: "Raleway", sans-serif; */
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 20%;
  border-radius: 60%;
  opacity: 0.4;
  /* filter: blur(0px); */
  /* box-shadow: 2px 3px 4px #0000006b; */
}

.navbar-toggle {
  border-radius: 0 !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff !important;
  border-color: #608dfd !important;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd !important;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%) !important;
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.section-title p {
  font-size: 18px;
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #5ca9fb !important;
  background-image: linear-gradient(
    to right,
    #5ca9fb 0%,
    #6372ff 100%
  ) !important;
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  position: relative;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff !important;
  background-image: none !important;
  background-color: #11142b !important;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header Section */
.intro {
  display: grid;
  width: 100% !important;
  padding: 0;
  background: url("../img/about-bg.jpg") no-repeat center center fixed;
  /* Fixed positioning */
  background-color: whitesmoke !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.vid {
  background: #000000;
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: -1;
}

.intro .overlay {
  background: linear-gradient(to right, #0000005e 0%, #ffffff4d 100%);
}

.intro h1 {
  /* font-family: "Raleway", sans-serif; */
  background: linear-gradient(to right, #434eb1 0%, #010e1d 100%);
  -webkit-background-clip: text !important;
  color: transparent !important;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  transform: rotate(8deg);
  /* display: flex; */
}

.intro h1 span {
  font-weight: 800;
  color: #5ca9fb !important;
}

.intro p {
  color: #300a33;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}

header .intro-text {
  padding-top: 200px;
  padding-bottom: 250px;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}

.btn-reg {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  border-radius: 5px !important;
  background-color: #5ca9fb;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #84724e 100%
  ) !important;
  padding: 7px 17px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s linear;
  border: 0;
  box-shadow: 1px 4px 9px #b8b8b873 !important;
  position: relative;
}

/* Features Section */
#features {
  background: #f6f6f6;
  width: 100%;
  padding: 50px 0;
}

#features i.fa:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 6px 10px rgb(208, 208, 212);
}

#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px #0000001e;
}

#features h2 {
  text-align: center;
  justify-content: center;
}

/* About Section */
#about {
  padding: 100px 0;
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}

#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#about img {
  width: 470px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff !important;
  border-radius: 7px;
}

#services .service-desc {
  margin: 10px 10px 20px;
}

#services h2 {
  color: #fff !important;
}

#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3) !important;
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}

#services p {
  color: rgba(255, 255, 255, 0.75);
}

#services .service-desc {
  margin-bottom: 40px;
}

/* Portfolio Section */

#tutor .portfolio-items {
  display: flex;

  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 21px;
  background: transparent !important;
}

#tutor .portfolio-items::-webkit-scrollbar {
  display: none;
}

#tutor {
  padding: 40px 0;
}

.portfolio-item img {
  margin-left: 20px;
}

.portfolio-items h1 {
  text-shadow:
    #000000 2px 5px 6px,
    #ffffff 2px 3px 4px;
  color: #000000cb;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

.portfolio-item {
  margin: 10px -25px 0 -24px;
  padding: 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(165, 136, 42, 0.8) 100%,
    rgba(42, 165, 144, 0.8) 50%
  );
  padding: 20%;
  margin-left: -40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  text-shadow:
    #291802 2px 5px 6px,
    rgb(173, 5, 5) 2px 3px 4px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.8s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}

#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.testimonial {
  position: relative;
  padding: 20px;
}

.testimonial-image {
  float: left;
  margin-right: 15px;
}

.testimonial-image,
.testimonial-image img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.testimonial-content {
  position: relative;
  overflow: hidden;
}

.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

/* Team Section */

#row {
  display: grid;
  zoom: 75%;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  #row {
    display: grid;
    zoom: 75%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  #row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

#team {
  padding: 10px;
}

#team h4 {
  margin: 4px 0;
}

#team .team-img {
  width: 240px;
  filter: grayscale(12);
}

#team .thumbnail {
  background: transparent;
  border: 0;
}

#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}

/* Contact Section */

#contact {
  padding: 0 0 10px;
  background: #1E2227 !important;
  color: #ffffffbf;
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact .section-title p {
  font-size: 16px;
}

#contact h2 {
  color: #fff !important;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: #ffffff4d;
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}

#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact form {
  padding-top: 20px;
}

#contact .invalid-feedback {
  color: #850000;
  text-align: left;
  background: #ff5882;
  padding: 4px;
  border-radius: 4px !important;
}

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}

#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #ca2020;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder,
#SAV:-ms-input-placeholder {
  color: #777;
}

.form-group [type="number"]::-webkit-inner-spin-button,
.form-group [type="number"]::-webkit-inner-outer-button {
  display: none !important;
}

input,
select {
  padding: 8px !important;
  border-radius: 8px !important;
  cursor: pointer;
}

select {
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-origin: right;
  transition-duration: 2s;
  width: 100%;
}

select:hover {
  background: #ffffff79 !important;
  outline-offset: 0;
  outline: none;
}

#contact option {
  background: #ffffff;
  padding: 8px !important;
  border-radius: 8px !important;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
  color: #555 !important;
  transform: scale(2);
  padding: 10px;
}

#contact .contact-item i.fa:hover {
  margin-right: 10px;
  color: blueviolet !important;
  transform: scale(3);
  padding: 10px;
  transform: rotate(-30deg);
}

#contact .social {
  border-top: 1px solid #ffffff26;
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .fa-facebook {
  color: #1877F2 !important;
}

#contact .fa-facebook:hover {
  color: #FFFFFF  !important;
  background: #1877F2 !important;
}

#contact .fa-yahoo {
  color: #430297!important;
}

#contact .fa-yahoo:hover {
  color: #FFFFFF  !important;
  background: #430297 !important;
}

#contact .fa-whatsapp {
  color: #25D366 !important;
}

#contact .fa-whatsapp:hover {
  color: #FFFFFF  !important;
  background: #25D366 !important;
}

#contact .fa-linkedin {
  color: #0077B5 !important;
}

#contact .fa-linkedin:hover {
  color: #FFFFFF !important;
  background: #0077B5 !important;
}

#contact .fa-youtube {
  color: #ff0000 !important;
}

#contact .fa-youtube:hover {
  color: #FFFFFF  !important;
  background: #ff0000 !important;
}

#contact .fa-instagram {
  
  color: #a8a8a8 !important;
}

#contact .fa-instagram:hover {
  color: #FFFFFF  !important;
 background: #57012c !important;
 
}

#contact .fa-github:hover {
  color: #FFFFFF  !important;
  background: #000000 !important;
}
#contact .fa-github{
  color: #FFFFFF  !important;
}

#contact .fa:hover {
  transform: scale(1.6);
  transition: 0.5s all;
  border-radius: 5px;
}
.list-inline-item a:hover {
  text-decoration: none !important;
}
#contact .fa {
  grid-template-columns: repeat(2, 1fr) !important;
  transform: scale(1.6);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 798px) {
  #contact .fa {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer Section*/
.mainer{
  position: relative;
  top: -200%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #9ffffa;
  border-radius: 50%;
  box-shadow: 
  -14vw 20vw 2px 1px #7cb9ff ,
  -31vw 50vh 0 0 white,
   3vw 20vh 0 0 #7cb9ff,
    -7vw 48vh 1px 1px white,
     -4vw 40vh 0 0 #7cb9ff,
      8vw 38vh 0 0 #f7c7c7, 
      10vw 10vh 0 0 #e5e9ee,
       -12vw 30vh 0 0 #7cb9ff, 
       -2vw 53vh 0 0 #49e6e6;
  animation: zoom  6s alternate infinite;
}
@keyframes zoom {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5);
  }
}
@keyframes glow {
  0%{
    box-shadow: 1px 2px 12px royalblue;
  }
  100%{
    box-shadow: 1px 1px 12px rgb(124, 155, 248);
  }
}
.moon{
  position: absolute;
  bottom: 2%;
  left: 10%;
  height: 80px;
  width: 80px;
  background: #4fb0d6;
  border-radius: 50%;
  overflow: hidden;
  animation: glow 6s infinite;
  opacity: .4;
}
.moon2{
  position: absolute;
  bottom: 2%;
  left: 30%;
  height: 80px;
  width: 80px;
  background: #1E2227;
  border-radius: 50%;
  overflow: hidden;
  animation: glow 6s infinite;
}
#footer {
  background: #1E2227 !important;
  padding: 30px;
  position: relative;
}

@media (max-width: 600px) {
  #footer {
    background: #1E2227 !important;
    padding: 30px 0;
  }
}
.count {
  color: #b8fffb;
  opacity: 0.4;
}
#footer p {
  color: #888;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  display: block;
}

#footer a {
  color: #608dfd !important;
}

#footer a:hover {
  border-bottom: 2px solid #608dfd !important;
}

#footer ul {
  padding: 20px 0 15px;
  /* background: linear-gradient(to right, #0b0c1b 2%, #5ca9fb 80%); */
  color: #ffffffbf;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#footer ul li a {
  color: #ffffffbf !important;
}

@media (max-width: 768px) {
  #about img {
    margin: 40px 0;
  }

  .navbar-brand img {
    display: flex;
  }
}

.popout {
  background: #1e90ff !important;
}

.transition-animation2 {
  animation: awesomeTransition 1.2s ease-in-out forwards;
  transform-origin: center;
  will-change: opacity, transform;
}

@keyframes awesomeTransition {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-10deg);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05) rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.transition-animation {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top: 5px solid #002b27;
  border-bottom: 5px solid #002b27;
  border-radius: 50%;
  animation: spinCircle 2.8s linear infinite;
  left: 0;
  margin: 20px;
}

@keyframes spinCircle {
  0% {
    transform: rotate(0deg);
    /* border-top: 4px solid #002b27; */
  }

  50% {
    transform: rotate(180deg);
    /* border-top: 4px solid #149c02; */
  }

  75% {
    transform: rotate(270deg);
    /* border-top: 4px solid #020c9c; */
  }

  100% {
    transform: rotate(360deg);
    /* border-top: 4px solid yellow; */
  }
}

#recordsTable tr td a {
  text-decoration: none;
}

#LinksTable th {
  font-size: 22px;
  opacity: 0.6;
  background: radial-gradient(#6184f8, #ffffff, #fa0c0c);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.425);
}
.days-March:nth-child(30) {
  background: red;
  color: whitesmoke;
}
.days-March:nth-child(30):hover {
  background: whitesmoke;
  color: red;
}
.days-feb:nth-child(11) {
  font-weight: bold;
  position: relative;
}

.days-feb:nth-child(11)::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background: #ff000070;
  left: 29%;
  top: 32%;
  border-radius: 50px;
}
.main-calendar{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  zoom: 50%;
}
.calendar {
  transition: 0.6s ease-in-out;

}
@media (max-width:789px) {
  .main-calendar{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
.calendar:hover {
  position: relative;
  left: 0;
  top: 0;
  transition: 0.6s ease-in-out;
  background: #1f1d1d;
  color: whitesmoke;
}
/* Calendar header styling */
.calendar-header {
  text-align: center;
  background-color: #004381;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
}

/* Days of the week styling */
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: linear-gradient(#f8b261, #12291e, #605fa5);
  color: white;
}

.calendar-days div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.calendar-dates div:hover {
  transform: scale(1.15);
  background: #00fff2;
  transition: 0.6s all;
  color: #000000;
}
/* Date cells styling */
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-dates div {
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.active {
  text-decoration: line-through;
  opacity: 0.6;
}

#root .img {
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40%;
}
.size img {
  width: 25%;
}

.transition-animationhtml {
  animation: awesomeTransition 1.2s ease-in-out forwards;
  transform-origin: center;
  will-change: opacity, transform;
  margin: 20px;
  font-size: 40px !important;
}

@keyframes awesomeTransition {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-10deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
.load {
  position: relative;
}
.transition-animation-html {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-top: 1px solid #ff00bf;
  border-bottom: 3px solid #171817;
  border-left: 1px solid #ff0000;
  border-right: 1px solid #058b00;
  border-radius: 50%;
  animation: spinCirclehtml 8.8s linear infinite;
  display: flex;
  position: absolute;
  top: 0;
  right: 0% !important;
}
.outer{
  font-size: 12px;
}
@media (min-width:1366px) {
  .transition-animation-html {
    right: 60%;
  }
}

@keyframes spinCirclehtml {
  from {
    transform: rotateZ(0deg);
    border-top: 14px solid #002b27;
    opacity: .9;
  }
  to {
    transform: rotateZ(-360deg);
    border-top: 14px solid #0c0269;
    opacity: .8;
  }
}
.preload {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tap{
  position: absolute;

}
.wrapper {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  margin: 100px auto;
  width: 250px;
  height: 250px;
  cursor: pointer;
  -webkit-perspective: 500px; 
  perspective: 500px;
  top:-700px;
  
}
.wrapper div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  box-shadow:
    inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.side-one {
  z-index: 400;
  background: #50c6db url(../img/about-bg.jpg);
}
.side-two {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: #ef4e65 url(../img/about-01.jpg);
}
.wrapper:hover {
  -webkit-transform: rotateY(-1turn);
  transform: rotateY(-1turn);
}
