.cont-top{
    text-align: center;

}

.boxes{
    display: flex;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 4px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.A{
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.B{
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.C{
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
}
.D{
    border-left: 4px solid transparent;
}
.E{
    border-top: 4px solid transparent;
}
.G{
    border-bottom: 4px solid transparent;
}
.H{
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
}
.I{
    border-right: 4px solid transparent;
}
.board{
    height: 320px;
    width: 564px;
    display: flex;
    margin: auto;
}

.boxes .fa-css5{
    font-size: 5.5em;
    text-align: center;
    justify-content: center;
    color: rgb(0, 60, 255) !important;
    align-items: center;
}
.boxes .fa-css3{
    font-size: 5.5em;
    text-align: center;
    justify-content: center;
    color: rgb(255, 60, 0);
    
}