
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css or global.css */
:root.has-background-black {
  background-color: #121212;
  color: white;
}

:root.has-background-white {
  background-color: white;
  color: black;
}




